# Firebase config files
/src/firebaseConfig.js
/config.js
/secrets.json

# Environment files
.env
.env.local
.env.development
.env.production

# Firebase Admin SDK service account key
serviceAccountKey.json

# Node.js dependencies (if applicable)
/node_modules
/dist
/build

# IDE-specific files (optional)
/.vscode
/.idea